@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //null;
}

<div class="container">
    <h1>Demos using SignalR and Knockout</h1>
    <div class="row">
        <div class="col-md-4">
            <input type="text" placeholder="Message" data-bind="value:message"/>
            <button class="btn btn-primary" data-bind="click:sendMessage">Send Message</button>
        </div>

        <div class="col-md-4">
            <div data-bind="foreach:messages">
                <div data-bind="text:$data"></div>
            </div>
        </div>
    </div>

    <div class="row" data-bind="foreach:counters">
        <div class="col-md-12">   
            <h2 data-bind="text:name"></h2>
            <canvas width="800" height="150" data-bind="attr: {'id': name}"></canvas>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/smoothies.js"></script>
    <script src="~/Scripts/perfMon.js"></script>
}